
<div>
    <mat-form-field>
      <mat-label>
      Name
      </mat-label>
    </mat-form-field>
    <!-- <h4>id: {{data.id}} </h4>
    <h4>name: {{data.name}} </h4>
    <h4>username: {{data.username}} </h4>
    <h4>email: {{data.email}} </h4>
    <h4>address: </h4>
    <h4>street: {{data.address.street}} </h4>
    <h4>suite: {{data.address.suite}} </h4>
    <h4>city: {{data.address.city}} </h4>
    <h4>zipcode: {{data.address.zipcode}} </h4>
    <h4>    geo:</h4>
    <h4>     lat:{{data.address.geo.lat}} </h4>
    <h4>     lng:{{data.address.geo.lng}} </h4>
    <h4>phone: {{data.phone}} </h4>
    <h4>website: {{data.website}} </h4>
    <h4>company: </h4>
    <h4>name: {{data.company.name}} </h4>
    <h4>name: {{data.company.catchPhrase}} </h4>
    <h4>name: {{data.company.bs}} </h4> -->

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>


