.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    width:10%;
  }
  .mat-table{
    width:100%;
  }
  .close-icon{
    float:right;
  }

  button{
    margin: auto;
    width: 40%;
  }

  mat-divider{
    width:100%;
  }

  mat-label{
    font-size:large;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    top: 50%;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: whitesmoke;
  }
